<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ubuntu.market">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />

    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->


    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="maket.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2" />

        <activity
            android:name=".activity.PhoneValidateActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.RegisterActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.JKArticleDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.JKSearchActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.JKSearchResultActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.JKLoveActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".fragment.SendDynamicActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.DynamicDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.MyDynamicsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.AboutJKActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SetUpActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.SendArticleActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.ArticleByUserDetailActivity"
            android:launchMode="singleTask"></activity>
    </application>

</manifest>